*{
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}
body{
    color:white;
    background-color:black;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Whole_page */

#whole_page{
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    display:grid;
    grid-gap : 0.5rem;
    grid-template-areas:
    'nav_grid'
    'home'
    'main_section'
    'contact_us'
    'footer';
}

/* Navigation Bar */
#nav_grid{
    display: grid;
    border: 3px solid red;
    height: 100%;
    grid-area: nav_grid;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -2;
    opacity: 0.5;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home::before {
    display: inline;
    content: "";
    position: absolute;
    background: url(Frosthack/Home.jpg) no-repeat center -1032px/cover;
    height: 435px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#home{
    height: 300px;
    grid-area: home;
    border: 5px solid blue;
    justify-content: center;
    align-items: center;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* main section */

#main_section{
    border: 5px solid white;
    display: grid;
    grid-area: main_section ;
    grid-gap : 1.5rem;
    grid-template-columns: 2.2fr 1fr;
}

/* Create Event */

#create_event {
    border: 5px solid yellow;
    margin-top: 14px;
    padding: 22px 0px;
}
#create_event::before {
    display: inline;
    content: "";
    position: absolute;
    background: url(Frosthack/Create_event.jpg) no-repeat center center/cover;
    height: 400px;
    width: 67vw;
    z-index: -1;
    opacity: 0.8;
}
/* Upcomings */

#upcoming{
    border: 5px solid green;
    padding: 23px 30px;
}

.main_box{
    text-align: center;
    padding: 30px;
    padding-right: 110px;}
/* Our Team */

#contact_heading{grid-area: contact_heading; text-align: center; }

.team_member{
    background-color: #1f1b1b;;
    padding: 23px;
}

#contact_us{
    display:grid;
    grid-area: contact_us ;
    grid-gap : 1rem;
    border: 5px solid cyan;
    grid-template-areas: 
    'contact_heading contact_heading contact_heading'
    'pong abhi jai';
}

#contact_us img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 4px 2px;
}

#contact_us .team_member{
    justify-content: center;
    align-items: center;
}
.two_words{
    align-self: center;
    padding: 20px 25px;
}

/* Footer */

#footer{
    background-color: black;
    color: white;
    border: 5px solid pink;
    grid-area: footer ;
    text-align: center;
    grid-area: footer ;
}


.h_primary{font-size: 2.8rem; text-align: center; font-family: 'Bree Serif', serif;margin: 25px 10px;}